language: node_js
sudo: true

node_js:
  - stable

cache:
  directories:
    - $HOME/.composer

matrix:
  # Don't wait for the allowed failures to build.
  fast_finish: true

before_install:
  - sudo add-apt-repository ppa:ondrej/php5-5.6 -y
  - sudo apt-get update
  - sudo apt-get install curl php5 -y
  - sudo apt-get install curl php5-cli php5-curl git -y

install:
  - npm install gulp -g
  - npm install
  - composer install

script:
  - curl -sS https://getcomposer.org/installer | php && mv composer.phar /usr/local/bin/composer
  - composer
  - sudo curl -LsS http://codeception.com/codecept.phar -o /usr/local/bin/codecept
  - sudo chmod a+x /usr/local/bin/codecept

  # Default gulp is configured to run coder, csslint and eslint.
  - gulp
