language: node_js
sudo: true

node_js:
  - stable

cache:
  directories:
    - $HOME/.composer

matrix:
  # Don't wait for the allowed failures to build.
  fast_finish: true

before_install:
  - sudo add-apt-repository ppa:ondrej/php5-5.6 -y
  - sudo apt-get update
  - sudo apt-get install curl php5 php5-cli php5-curl git -y

install:
  - npm install gulp -g
  - npm install

script:
  - sudo curl -LsS http://codeception.com/codecept.phar -o /usr/local/bin/codecept
  - sudo chmod a+x /usr/local/bin/codecept\
  - php --version

  - sudo curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer
  - sudo composer

  - sudo composer global require drush/drush:8.*
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - drush version

  - ssh-keygen -t rsa -N '' -f id_rsa
  - ls
  - ssh-copy-id -i id_rsa.pub d7srijan.dev@free-6101.devcloud.hosting.acquia.com
  #- /usr/bin/keychain $HOME/.ssh/id_rsa
  #- source $HOME/.keychain/$HOSTNAME-sh


  # Default gulp is configured to run coder, csslint and eslint.
  - gulp
